.profile{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right bottom, #a4481f, #823d1f, #61321e, #41271c, #211c1a);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10rem;
    
    &-info{
        height: 6rem;
        width: fit-content;
        min-width: 50rem;
        padding: 1.5rem 3rem;
        margin: 1rem;
        background-color: $color-light-1;
        box-shadow: $box-shadow;
        -webkit-box-shadow: $box-shadow;
        -moz-box-shadow: $box-shadow;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        &:hover{
            background-color: $color-light-2;
        }
        @include respond(phone) {
            height: 7rem;
            width: 90%;
         }
    }
    &-ref{
        font-size: 2rem;
        @include respond(phone) {
            font-size: 2.5rem;
         }
    }
    &-edit{
        color: $color-font-1;
        font-size: 1.4rem;
        @include respond(phone) {
            font-size: 1.9rem;
         }
        &:hover{
            color: $color-primary;
        }
    }
    &-input{
        font-size: 1.7rem;
        outline: none;
        border: none;
        height: 3.5rem;
        width: 70%;
        padding-left: 2rem;
    }
}