$color-primary: #ef8555;
$color-secondary: #572773;

$color-white: #ffffff;
$color-black: #000000;
$color-dark-1: rgb(50,49,48);
$color-dark-2: rgba(0,0,0,.7);

$color-font-1: rgb(239,239,239);

$color-light-1: rgba(50,49,48, .6);
$color-light-2: rgba(50,49,48, .9);
$color-border: rgba(224,148,88, .6);

$box-shadow: -2px 9px 32px -7px rgba(0,0,0,0.61);