.loginForm {
    height: 50rem;
    width: 110rem;
    display: flex;
    @include respond(tab-land) {
        height: 40rem;
        width: 78rem;
    }
    @include respond(tab-port) {
        justify-content: center;
    }
    @include respond(small-phone) {
        height: 100%;
        align-items: center;
    }
    &-image{
        height: 100%;
        width: 60%;
        background:  linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0)), url(../img/smart-house-7.png) ; 
        background-repeat: no-repeat;
        background-size: 100% 100%;
        @include respond(tab-port) {
            display: none;
        }
    }
    &-field{
        height: 60rem;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0,0,0, .7);
        transform: translateY(-5rem);
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        overflow: hidden;
        
        @include respond(tab-land) {
            height: 51rem;
            width: 50%;
        }
        @include respond(tab-port) {
            width: 65%;
        }
        @include respond(phone) {
            width: 95%;
            height: fit-content;
            padding-bottom: 2rem;
        }
        @include respond(small-phone) {
            width: 100%;
            height: 100%;
            padding-bottom: 2rem;
            transform: translateY(0);
            justify-content: space-around;
        }
        
        h6{
            font-size: 5rem;
            font-weight: 400;
            color: $color-white;
            margin-top: 2rem;
            animation: titleComes 2s ease-in-out 0s;
            margin-bottom: 2.5rem;
            @include respond(tab-port) {
                font-size: 6.5rem;
            }
        }
        &_p{
            font-size: 2rem;
            margin-bottom: 3rem;
            margin-top: 1.5rem;
            color: $color-white;
            animation: registration 2s ease-in-out;

            strong{
                color: $color-primary;
                cursor: pointer;
            }
        }
        @keyframes registration {
            0%{
                transform: translateY(30rem)
            }
            80%{
                transform: translateY(-2rem)
            } 
            100%{
                transform: translateY(0)
            }
        }
        @keyframes titleComes {
            0%{
                transform: translateY(-30rem)
            }
            80%{
                transform: translateY(2rem)
            }
            100%{
                transform: translateY(0)
            }
        }
    }
}