.registrationForm{
    height: 50rem;
    width: 110rem;
    display: flex;

    &-field{
        width: 55%;
        height: 60rem;
        background-color: rgba(0,0,0, .7);
        transform: translateY(-5rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        h6{
            font-size: 5rem;
            font-weight: 400;
            color: $color-white;
            margin-top: 2rem;
            animation: titleComes 2s ease-in-out 0s;
            margin-bottom: 2.5rem;
        }
        &_p{
            font-size: 2rem;
            color: $color-primary;
            animation: buttonComes 2s ease-in-out 0s;
        }
    }
    &-image{
        width: 45%;
        height: 100%;
        background-image: url(../img/iot.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 48% 50%;
    }
}