.sensorecard{
    height: fit-content;
    min-height: 17rem;
    width: 27rem;
    margin: 1.5rem;
    background-color: $color-light-1;
    box-shadow: $box-shadow;
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    h3{
        color: $color-dark-2;
        font-size: 2.5rem;
    }
    &-hint{
        font-size: 1.3rem;
    }
    &-number{
        display: flex;
        color: $color-primary;
        &-value{
            font-size: 5.5rem;
        }
        &-unit{
            padding-top: 1rem;
            font-size: 2.5rem;
        }
    }
}